//  General Styles

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
	font-size: 62.5%;
	background-color: @content-1-background;
  color: white;
}

h1, h2, h3, a {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  min-height: 100%;
  position: relative;
}

