// Variables

@header-footer-bg: #333333;
@content-1-background: #c7aa8b;
@content-1-text: #4d4d4d;
@content-2-background: #f7f7f7;
@content-2-muted-header: rgba(50, 50, 50, .36);
@content-2-text: #4d4d4d;
@content-2-accent: #c7aa8b;
@inactive-link: #ededed;
@hover:#ffffff;
@muted-text-header-footer: #858585;
@box-bg: linear-gradient(rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.5)
		);





@phone: ~"(max-width: 500px)";
@phone2: ~"(max-width: 476px)";
@phone3: ~"(max-width: 925px)";
@phone4: ~"(max-width: 442px)";
@phone5: ~"(max-width: 420px)";
